:root {
  --text-50: oklch(95.5% 0.013 28.87);
  --text-100: oklch(91.21% 0.026 29.42);
  --text-200: oklch(82.26% 0.056 28.12);
  --text-300: oklch(73.63% 0.087 29.18);
  --text-400: oklch(65.16% 0.121 29.62);
  --text-500: oklch(57.55% 0.154 31.05);
  --text-600: oklch(48.98% 0.129 30.76);
  --text-700: oklch(40.17% 0.101 31);
  --text-800: oklch(30.69% 0.073 30.38);
  --text-900: oklch(20.67% 0.04 31.07);
  --text-950: oklch(15.21% 0.023 32.24);

  --background-50: oklch(95.64% 0.011 31.07);
  --background-100: oklch(91.29% 0.023 27.82);
  --background-200: oklch(82.61% 0.048 29.43);
  --background-300: oklch(73.92% 0.075 29.41);
  --background-400: oklch(65.5% 0.106 30.51);
  --background-500: oklch(57.58% 0.135 31.8);
  --background-600: oklch(49.01% 0.114 31.4);
  --background-700: oklch(40.08% 0.089 30.93);
  --background-800: oklch(30.78% 0.064 31.1);
  --background-900: oklch(20.59% 0.034 29.4);
  --background-950: oklch(15.37% 0.019 33.38);

  --primary-50: oklch(95.3% 0.014 22.77);
  --primary-100: oklch(90.51% 0.031 20.19);
  --primary-200: oklch(81.22% 0.063 20.99);
  --primary-300: oklch(72.06% 0.101 22.14);
  --primary-400: oklch(63.53% 0.138 23.89);
  --primary-500: oklch(56.06% 0.173 26.49);
  --primary-600: oklch(47.73% 0.144 26.26);
  --primary-700: oklch(39.07% 0.115 26.04);
  --primary-800: oklch(29.89% 0.082 25.44);
  --primary-900: oklch(20.03% 0.047 24.34);
  --primary-950: oklch(14.61% 0.027 20.86);

  --secondary-50: oklch(97.01% 0.022 138.98);
  --secondary-100: oklch(94.33% 0.045 138.13);
  --secondary-200: oklch(88.56% 0.088 139.02);
  --secondary-300: oklch(83.28% 0.133 138.87);
  --secondary-400: oklch(78.04% 0.171 139.32);
  --secondary-500: oklch(73.46% 0.204 139.69);
  --secondary-600: oklch(62.21% 0.17 139.74);
  --secondary-700: oklch(50.75% 0.136 139.51);
  --secondary-800: oklch(38.26% 0.098 139.57);
  --secondary-900: oklch(25.03% 0.058 138.78);
  --secondary-950: oklch(17.57% 0.033 138.42);

  --accent-50: oklch(96.95% 0.018 161.13);
  --accent-100: oklch(94.15% 0.038 159.9);
  --accent-200: oklch(88.35% 0.073 158.63);
  --accent-300: oklch(82.99% 0.109 157.16);
  --accent-400: oklch(77.82% 0.14 155.65);
  --accent-500: oklch(73.31% 0.168 153.11);
  --accent-600: oklch(62.1% 0.14 153.38);
  --accent-700: oklch(50.61% 0.113 153.27);
  --accent-800: oklch(38.16% 0.081 153.81);
  --accent-900: oklch(24.91% 0.048 154.91);
  --accent-950: oklch(17.5% 0.026 158.09);
}
